html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

.header {
  background: url("./../img/header_background.jpg") no-repeat center top / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  color: #fff;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 180px;
  height: 180px;
}

.greeting {
  margin: 15px 0px;
  font-size: 35px;
  line-height: 45px;
}

.info {
  line-height: 26px;
}

.contentWrapper {
  width: 80%;
  display: flex;
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

.cards {
  background: #000;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

.fas,
.fab {
  font-size: 3em;
}

.title {
  line-height: 20px;
  margin: 10px 0px;
  font-weight: 700;
  font-size: 19px;
}

.aboutUs {
  height: 50vh;
  background: #f4f4f4;
  color: #333;
  display: flex;
  align-items: center;
}

.leftBlock {
  padding-left: 30px;
  max-width: 300px;
  margin-left: 50px;
}

.rightBlock {
  max-width: 470px;
}

.footer {
  text-align: center;
  padding: 40px 0px;
  background: #333;
  color: #f4f4f4;
}
